<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">

<!-- 

Copyright (C) 2014 - Gareth Edwards / Rapid Information Systems

gareth.edwards@rapid-is.co.uk


This file is part of the Rapid Application Platform

RapidSOA is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version. The terms require you to include
the original copyright, and the license notice in all redistributions.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
in a file named "COPYING".  If not, see <http://www.gnu.org/licenses/>.

 -->

  <display-name>Rapid Desktop</display-name>
  
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  <filter>
    <filter-name>RapidFilter</filter-name>
    <filter-class>com.rapid.server.filter.RapidFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>RapidFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <listener>
    <description>This class initialises Rapid when the application context is started</description>
    <listener-class>com.rapid.server.RapidServletContextListener</listener-class>
  </listener>
  
  <servlet>
    <description>This is the main working servlet for delivering pages and dealing with actions</description>
    <display-name>Rapid</display-name>
    <servlet-name>Rapid</servlet-name>
    <servlet-class>com.rapid.server.Rapid</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Rapid</servlet-name>
    <url-pattern>/~</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Rapid</servlet-name>
    <url-pattern>/rapid</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description>This servlet provides all of the more complex functionality for the designer</description>
    <description>Designer</description>
    <display-name>Designer</display-name>
    <servlet-name>Designer</servlet-name>
    <servlet-class>com.rapid.server.Designer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Designer</servlet-name>
    <url-pattern>/designer</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description>This serlvet provides the SOA functionality</description>
    <description>SOA</description>
    <display-name>SOA</display-name>
    <servlet-name>SOA</servlet-name>
    <servlet-class>com.rapid.server.SOA</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SOA</servlet-name>
    <url-pattern>/soa</url-pattern>
  </servlet-mapping>
  
  <context-param>
    <description>Whether or not to show the stack trace in errors</description>
    <param-name>showStackTrace</param-name>
    <param-value>true</param-value>
  </context-param>
  
  <context-param>
    <description>Whether or not to attempt to defeat the cache both for resources and page generation</description>
    <param-name>noCaching</param-name>
    <param-value>true</param-value>
  </context-param>
  
</web-app>