div#designShow {
	position: fixed;
    left: 0;
    bottom: 0;
    width: 30px;
    height: 30px;
    z-index: 10000;
}

div#designLinks {
	position: fixed;
    left: 0px;
    bottom: 0px;
    z-index: 10001;
    padding: 5px 10px;
    display: none;
    border-radius: 10px;
    margin: 2px;
    background-color: rgba(255, 255, 255, 0.6);
}

#designLinks img {
	vertical-align: middle;
	border: 0;
}

.designData {
	position: fixed;
	bottom: 5px;
	padding: 5px;
	border: 1px solid black;
	background-color: white;
	font-family: arial;
	font-size: 12px;
	max-width: 500px;
	max-height: 600px;
	overflow-x: auto;
	overflow-y: scroll;	
	color: black;
	z-index:10000;
}

.designData table {
	font-family: arial;
	font-size: 12px;
}

.designData table tr:first-child {
	font-weight: bold;
}