body {
	font-family: arial;
	font-size: 12px;
	padding: 0px;
	margin: 0px;	
	background-color: #ccc;
}

optgroup {
	font-style: normal;
}

hr {
	height: 1px;
	color: #777;
	margin-top: 0px;
}

#loading {
	text-align: center;
	padding-top: 100px;
	font-size: 20px;
}

#loading b {
	font-size: 24px;
}

#loadingPanel {
	padding: 20px;
	border: 4px solid black;
	border-radius: 10px;
	margin: auto;
	width: 300px;
	background: white;
	box-shadow: 5px 5px 5px #888;
}

#page {
	border: 1px solid black;
	margin: -1px;
	position: absolute;
	overflow: hidden;
	display: none;	
	background-color: white;
}

#designerTools {
	display:none;
}

#designCover {
	opacity:0;
	filter:alpha(opacity=0); 
	position:absolute;
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	z-index:10003;
	background-color:#00f;
}

#controlPanelShow {
	position: absolute;
	left: 0px;
	top: 0px;
	height: 100%;
	width: 10px;
}

#controlPanelPin {
	position: absolute;
	right: 7px;
	top: 7px;
	cursor: pointer;
	width: 14px;
	height: 14px;
}

#controlPanel {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 195px; 
	min-width: 195px;
	max-width: 500px;
	border-right: 1px solid #191919;
	background: #dedede;
	background: -moz-linear-gradient(top,  #dedede 0%, #eeeeee 10%, #dddddd 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dedede), color-stop(10%,#eeeeee), color-stop(100%,#dddddd));
	background: -webkit-linear-gradient(top,  #dedede 0%,#eeeeee 10%,#dddddd 100%);
	background: -o-linear-gradient(top,  #dedede 0%,#eeeeee 10%,#dddddd 100%);
	background: -ms-linear-gradient(top,  #dedede 0%,#eeeeee 10%,#dddddd 100%);
	background: linear-gradient(to bottom,  #dedede 0%,#eeeeee 10%,#dddddd 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dedede', endColorstr='#dddddd',GradientType=0 );
	overflow: hidden;
	outline: none;
	padding: 10px;
	text-align: center;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: -moz-none;
	-ms-user-select: none;
	user-select: none;
}

#controlPanelSize {
	background-color: red;
	opacity: 0;
	float: right;
	position: relative;
	top: 0;
	right: 0;
	width: 4px;
	height: 100%;
	margin-right: -10px;
	cursor: ew-resize;
}

#controlPanel h2 {
	margin-top: 10px;
	margin-bottom: 2px;
	padding-top: 5px;
	padding-bottom: 2px;
	font-size: 15px;
	border-top: 1px solid #777;
	text-transform: uppercase;
}

#controlPanel select {
	width: 100%;
}

#pageLock {
	display:none;
}

#controlControls {
	display:none;
}

#controlsHeader {
	cursor: pointer;
}

.headerToggle {
	padding-left: 2px;
	vertical-align: middle;
	padding-bottom: 4px;
	margin-right: -10px;
}

.headerHelp {
	float: right;
	margin-left: -16px;
}

ul.design-controls {
	margin-top: 0px;
	margin-bottom: 0px;
	padding-left: 0px;
	text-align: left;
}

li.design-control {
	display: block;
	cursor: pointer;
	width: 25px;
	height: 25px;
	float: left;	
	margin-left: 5px;
	margin-bottom: 5px;
	padding: 2px 3px;
	border: 1px solid #191919;	
	color: #191919;	
	font-size: 12px;		
	text-align: center;	
	border-radius: 3px;
	min-height: 24px;
	background: #e9e9e9;
	background: -moz-linear-gradient(top,  #e9e9e9 0%, #eeeeee 20%, #d9d9d9 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e9e9e9), color-stop(20%,#eeeeee), color-stop(100%,#d9d9d9));
	background: -webkit-linear-gradient(top,  #e9e9e9 0%,#eeeeee 20%,#d9d9d9 100%);
	background: -o-linear-gradient(top,  #e9e9e9 0%,#eeeeee 20%,#d9d9d9 100%);
	background: -ms-linear-gradient(top,  #e9e9e9 0%,#eeeeee 20%,#d9d9d9 100%);
	background: linear-gradient(to bottom,  #e9e9e9 0%,#eeeeee 20%,#d9d9d9 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e9e9e9', endColorstr='#d9d9d9',GradientType=0 );
	-webkit-box-shadow: 0 -1px 1px rgba(0,0,0,0.2) inset,0 1px 1px rgba(255,255,255,0.8) inset,1px 2px 2px -1px rgba(0,0,0,0.3);
	-moz-box-shadow: 0 -1px 1px rgba(0,0,0,0.2) inset,0 1px 1px rgba(255,255,255,0.8) inset,1px 2px 2px -1px rgba(0,0,0,0.3);
	box-shadow: 0 -1px 1px rgba(0,0,0,0.2) inset,0 1px 1px rgba(255,255,255,0.8) inset,1px 2px 2px -1px rgba(0,0,0,0.3);
}

li.design-control:hover {
	background-color: #ddd;
	background: #d9d9d9;
	background: -moz-linear-gradient(top,  #d9d9d9 0%, #dddddd 20%, #b9b9b9 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d9d9d9), color-stop(20%,#dddddd), color-stop(100%,#b9b9b9));
	background: -webkit-linear-gradient(top,  #d9d9d9 0%,#dddddd 20%,#b9b9b9 100%);
	background: -o-linear-gradient(top,  #d9d9d9 0%,#dddddd 20%,#b9b9b9 100%);
	background: -ms-linear-gradient(top,  #d9d9d9 0%,#dddddd 20%,#b9b9b9 100%);
	background: linear-gradient(to bottom,  #d9d9d9 0%,#dddddd 20%,#b9b9b9 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9d9d9', endColorstr='#b9b9b9',GradientType=0 );
}

.design-control img {
	display: block;
	margin: auto;
	max-width: 24px;
	max-height: 24px;
}

.design-control span {
	display: block;
	width: 100px;
	text-align: center;
	vertical-align: middle;
	margin-left: 40px;
	margin-top: -19px;
	padding-left: 15px;
}

#controlsMap {
	cursor: pointer;
	clear: left;
}

#pageMap {	
	text-align: left;	
	border: 1px solid black;
	border-radius: 3px;
	display: none;
	overflow-x: scroll;
	overflow-y: scroll;
	background-color: white;
	max-height: 500px;
}

.design-map ul {
	list-style:none;
	padding-left:10px;
}

.design-map li {
	display: block;
	cursor: pointer;	
	vertical-align: middle;
}

.design-map span {
	display: block;
	white-space: nowrap;
}

.design-map img {
	vertical-align: middle;
	height: 16px;
	width: 16px;
	margin-top: -2px;
}

.controlPanelVersion {
	width: 100%;
	height: 90px;
	margin-left: -20px;
	margin: 2px;
	font-family: Arial;
	font-size: 12px;
	font-weight: bold;	
}

#controlPanelVersion {
	padding-bottom: 20px;
}

.controlPanelVersion img {
	padding-top: 15px;
}

div#propertiesPanel {
	position: absolute;
	right: 0px;
	top: 0px;
	width: 200px;	
	border-left: 1px solid #191919;
	background-color: #F5F5F5;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E6E6E6', endColorstr='#F5F5F5');
	background: -webkit-gradient(linear, left top, left bottom, from(#E6E6E6), to(#F5F5F5));
	background: -moz-linear-gradient(top, #E6E6E6, #F5F5F5);	
	overflow: hidden;
	outline: none;
	padding: 0px 10px 20px 10px;
	text-align: center;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: -moz-none;
	-ms-user-select: none;
	user-select: none;
	display: none;
}

.propertiesPanelDiv {
	padding-top:0px;
}

.untilsPanelDiv .headerHelp {
	padding-top:5px;
}

#propertiesPanelPin {
	position: absolute;
	left: 7px;
	top: 7px;
	cursor: pointer;
	width: 14px;
	height: 14px;
}

div#propertiesPanel h2 {
	margin-top: 10px;
	margin-bottom: 0;
	padding-top: 5px;
	padding-bottom: 2px;
	font-size: 15px;
	border-top: 1px solid #777;
	text-transform: uppercase;
}

.propertiesPanelDiv h3 {
	margin-top: 3px;
	margin-bottom: 3px;
	font-size: 11px;
}

.canSelect {
	-webkit-user-select: text;
	-khtml-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
}

.validationPanelDiv h3 {
	margin-top: 3px;
	margin-bottom: 3px;
	font-size: 11px;
}

.actionsPanelDiv h3 {
	margin-top: 2px;
	margin-bottom: 2px;
	font-size: 11px;
	float: left;
}

.actionsPanelDiv h4 {
	margin-top: 2px;
	margin-bottom: 2px;
	font-size: 11px;
	float: left;
}

.actionsPanelDiv img {
	display: block;
	float: right;
}

/* properties styles are in their own properties.css file for reuse with Rapid Admin */

table.stylesPanelTable  {
	width: 100%;
	background-color: white;
	border-left: 1px solid gray;
	border-top: 1px solid gray;
	border-right: 1px solid gray;
	border-spacing: 0px;
	margin-top: 2px;	
	font-size: 11px;
}

.stylesPanelTable td {
	text-align: left;
	padding-left: 5px;
	border-bottom: 1px solid gray;	
	width: 32px;
}

.stylesPanelTable select {
	width: 100%;
	font-size: 11px;
	border-width: 0;
	border-radius: 0;
	background-color: white;
}

td.styleCell {
	text-align: left;
	padding-left: 5px;
	border-bottom: 1px solid gray;	
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 154px;
	height: 16px;
	z-index:10;
}

.styleCell span {
	height:16px;
}

.styleCell span.styleColon {
	padding-left: 5px;
	padding-right: 5px;
}

td.styleCell.validationFail {
	text-decoration: line-through;
}

#styleInput {
	position: absolute;
	left:0;
	bottom:0;
	background-color: white;
	font-size: 11px;
	display: none;
	padding-left: 3px;	
	z-index:10016;
}

#styleHint {
	position: absolute;
	background-color: white;
	color: gray;
	font-size: 11px;
	display: none;
	padding-left: 3px;	
	z-index:10015;
}

#styleList {
	position: absolute;
	background-color: white;
	border: 1px solid gray;
	margin-top: 0px;		
	padding-left: 3px;
	padding-right: 3px;
	font-size: 11px;	
	list-style-type: none;
	display: none;
	z-index:10015;
}

#styleList li.styleHint {
	background-color: gray;
}

#styleList li.mouseover {
	background-color: silver;
}

div.button {
	margin-left: -10px;
	margin-right: -10px;	
}

#appAdmin {
	margin-top: 0;
}

.buttons button {
	height:22px;	
	margin-top: 5px;
	margin-left: -3px;
	margin-right: -4px;
	padding: 1px 8px 2px 8px;	
	border: 1px solid black;
	vertical-align: middle;
	font-family: arial;
	font-size: 12px; 
	background-color: #eee;
	background: #eeeeee;
	background: -moz-linear-gradient(top,  #eeeeee 0%, #eeeeee 10%, #cccccc 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(10%,#eeeeee), color-stop(100%,#cccccc));
	background: -webkit-linear-gradient(top,  #eeeeee 0%,#eeeeee 10%,#cccccc 100%);
	background: -o-linear-gradient(top,  #eeeeee 0%,#eeeeee 10%,#cccccc 100%);
	background: -ms-linear-gradient(top,  #eeeeee 0%,#eeeeee 10%,#cccccc 100%);	
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 );
	-webkit-box-shadow: 0 -1px 1px rgba(0,0,0,0.2) inset,0 1px 1px rgba(255,255,255,0.8) inset,1px 2px 2px -1px rgba(0,0,0,0.3);
	-moz-box-shadow: 0 -1px 1px rgba(0,0,0,0.2) inset,0 1px 1px rgba(255,255,255,0.8) inset,1px 2px 2px -1px rgba(0,0,0,0.3);
	box-shadow: 0 -1px 1px rgba(0,0,0,0.2) inset,0 1px 1px rgba(255,255,255,0.8) inset,1px 2px 2px -1px rgba(0,0,0,0.3);
	background: linear-gradient(to bottom,  #eeeeee 0%,#eeeeee 10%,#cccccc 100%);
}

.buttons button:hover {
	background-color: #ddd;
	background: #dddddd;
	background: -moz-linear-gradient(top,  #dddddd 0%, #cccccc 20%, #cccccc 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dddddd), color-stop(20%,#cccccc), color-stop(100%,#cccccc));
	background: -webkit-linear-gradient(top,  #dddddd 0%,#cccccc 20%,#cccccc 100%);
	background: -o-linear-gradient(top,  #dddddd 0%,#cccccc 20%,#cccccc 100%);
	background: -ms-linear-gradient(top,  #dddddd 0%,#cccccc 20%,#cccccc 100%);	
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dddddd', endColorstr='#bbbbbb',GradientType=0 );
	background: -webkit-linear-gradient(top,  #dddddd 0%,#cccccc 20%,#cccccc 100%);
	background: linear-gradient(to bottom,  #dddddd 0%,#cccccc 20%,#cccccc 100%);
}

.buttons button:focus {
  outline:none;
  box-shadow: inset 0px 0px 5px 2px #fff;
}

.buttons button:disabled {
	background-color: #bbb;
	background: #cccccc;
	background: -moz-linear-gradient(top,  #cccccc 0%, #bbbbbb 20%, #a9a9a9 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cccccc), color-stop(20%,#bbbbbb), color-stop(100%,#a9a9a9));
	background: -webkit-linear-gradient(top,  #cccccc 0%,#bbbbbb 20%,#a9a9a9 100%);
	background: -o-linear-gradient(top,  #cccccc 0%,#bbbbbb 20%,#a9a9a9 100%);
	background: -ms-linear-gradient(top,  #cccccc 0%,#bbbbbb 20%,#a9a9a9 100%);	
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc', endColorstr='#a9a9a9',GradientType=0 );
	background: linear-gradient(to bottom,  #cccccc 0%,#bbbbbb 20%,#a9a9a9 100%);
} 

.buttons .buttonLeft {
	-moz-border-radius-bottomleft: 1000px;
	-moz-border-radius-topleft: 1000px;
	-webkit-border-bottom-left-radius: 1000px;
	-webkit-border-top-left-radius: 1000px;
	border-bottom-left-radius: 1000px;
	border-top-left-radius: 1000px;	
}

.buttons .buttonRight {
	-moz-border-radius-bottomright: 1000px;
	-moz-border-radius-topright: 1000px;
	-webkit-border-bottom-right-radius: 1000px;
	-webkit-border-top-right-radius: 1000px;
	border-bottom-right-radius: 1000px;
	border-top-right-radius: 1000px;		
}

.hover {
	cursor: pointer;
}

.hover:hover {
	background-color: #ccc;
}

.selected {
	background-color: #aaa;
}

/*

Selection Styles

*/

#selectionBorder {
	display:none;
	position:absolute;
	overflow:hidden;
	left:0px;
	top:0px;
	z-index:10004;
	padding:5px;
}

.selectionBorderMove {
	border:2px dashed #6a94dc;
}

.selectionBorderNoMove {
	border:2px solid #6a94dc;
}

.selectionBorderInner {
	background-color:#d3e1ee;
	position:absolute;			
}

.selectionBorderInnerMove {
	cursor: move;		
}

.selectionBorderInnerNoMove {
	cursor: initial;		
}

.selectionBorderInner#selectionBorderLeft {
	width:5px;
	height:100%;	
	top:0px;
	margin-left:-5px;		
}

.selectionBorderInner#selectionBorderTop {
	width:100%;
	height:5px;
	left: 0px;
	margin-top:-5px;
}

.selectionBorderInner#selectionBorderRight {
	width:5px;
	height:100%;
	right:0px;
	margin-top:-5px;
}

.selectionBorderInner#selectionBorderBottom {
	width:100%;
	height:5px;
	bottom:0px;
	margin-left:-5px;
}

#selectionInsertCover {
	background:
		linear-gradient(-45deg, 
		rgba(106,148,220,0.1) 0px,
		rgba(106,148,220,0.1) 10px,
		transparent 0px, 
		transparent 21px,
		rgba(106,148,220,0.1) 0px,
		rgba(106,148,220,0.1) 31.5px,
		transparent 0px);
	background-size: 30px 30px;
	border: 1px solid rgba(106,148,220,0.1);
	border-radius: 5px;
}

.nonVisibleControl {
	position: fixed;
	bottom: 10px;	
	width: 24px;
	height: 24px;
	z-index: 10006;
}

.desktopCover {
	position: absolute;
	background-color: #ccc;
	display: none;
	z-index: 10005;
}

/*

Dialogue styles

*/

#dialogueCover {
	background-color:white;
	opacity:0.75;
	position:absolute;
	left:0px;
	top:0px;
	z-index:10100;
}

#dialogue {
	position:absolute;
	background-color:white;	
	left:0px;
	top:0px;
	z-index:10101;
	border:1px solid black; 
	box-shadow:0 0 20px;
}

.dialogue table {
	width:100%;
}

.dialogue span.fa {
	vertical-align:middle;
	font-size:20px;
	min-width:20px;
	min-height:20px;
}

.dialogue span.fa_name {
	vertical-align:middle;
	margin-left:5px;
}

/*

Hint style

*/

.hint {
	position:absolute;
	max-width: 300px;
	background-color: white;
	border: 1px solid #888;
	border-radius: 5px;
	padding: 10px;
	opacity: 0.9;
	box-shadow: 5px 5px 5px #888;
	z-index:10011;
}

/*

Tip styles

*/

#tipDiv {
	position:absolute;	
	z-index:10012;
}

#tipDivMain {
	background-color: white;
	border: 5px solid;
	border-radius: 5px;
	padding: 10px;	
	box-shadow: 5px 5px 5px #888;
}

#tipArrow {	
	text-align: center;
}

#tipDivTitle {
	width: 100%;
	margin-left:-10px;
	margin-top:-10px;
	margin-bottom: 10px;
	padding:10px;
	background-color:black;
	color:white;
	text-align:center;
	border-bottom: 1px solid red;
	font-weight:bold;
	font-size:16px;
}

#tipDivBody {
	font-size:16px;
	opacity: 0.9;
}

#tipDivButtons {
	width: 100%;
	margin-left:-10px;
	margin-top: 10px;
	margin-bottom:-10px;
	padding:10px;
	background-color:black;
	color:white;
	text-align:center;
	border-top: 1px solid red;
}

#tipDivButtons button {
	width: 75px;
	margin-left:3px;
	margin-right:3px;
}

#tipDivButtons select {
	width: 45px;
	margin-left:3px;
	margin-right:3px;
	padding-top: 1px;
	padding-bottom: 1px;
}

#tipDivButtons button:first-child {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

#tipDivButtons button:last-child {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
