body {
	font-family: arial;
	margin:0;
}	

@media (min-width: 520px) and (min-height: 400px) {

	span {
		font-size:36px;
		font-weight:bold;
	}
	
	input {
		width: 200px;
		padding: 5px;
		font-size: 18px;
		border: 1px solid #888;
		box-shadow: inset -2px 2px 5px 0px #ccc; 
	}
	
	td {
		font-size: 16px;
		padding-left: 5px;
	}
	
	button {
		font-size: 14px;
		padding: 5px 20px;
	}
	
	div.image {
		height: 110px;
	}
	
	.image img {
		position:absolute;
		top:8px;
		right:18px;
		width:200px;
		height:134px;
	}
	
	div.title {
		background-color:#ccc;
		padding: 20px 40px 35px;
		margin: 0px 0px 20px 0px;
	}
	
	.title span {
		display: block;
	}
	
	.body {
		padding: 15px 0px 0px 100px;
	}
	
	.body img {
	    vertical-align: top;   
	    width: 150px;
	    height: 130px;
		border: 1px solid black;
		padding: 2px;
		box-shadow: 3px 3px 3px #aaa;
	}
	
	.body a { 
		font-size: 36px;
		font-weight: bold;
		color: black;
		text-decoration: none;
	}
	
	.body a:hover { 
		text-decoration: underline;
	}
	
	.body a span { 
		padding: 20px;
	}
	
	.link a {
		float: left;
		font-size: 16px;
		text-decoration: none;
		color: black;
		margin-top: 5px;
	}
	
	.link a:hover {
		color: #444;
	}
	
	.info {
		padding: 20px 0px 0px 100px;
	}
	
	.apps {
		padding-left: 255px;
	}
	
	.apps ul {
		margin-top: -80px;
	}
	
	.apps li {
		padding: 5px;
	}
	
}

@media (max-width: 519px), (max-height: 399px) {
	
	body {
		font-size: 18px;		
	}
	
	span {
		font-size:24px;
		font-weight:bold;
	}
	
	table {
		min-width: 280px;
		margin-top:50px;
		margin-left:auto; 
    	margin-right:auto;
	}
	
	input {
		width: 200px;
		padding: 5px;
		font-size: 18px;
		border: 1px solid black;
		box-shadow: inset -2px 2px 5px 0px #ccc; 
	}
			
	button {
		font-size: 18px;
	}
	
	.title {
		min-width: 280px;
	}
	
	div.image {
		height: 47px;
	}
	
	.image img {
		position:absolute;
		top:6px;
		right:10px;
		width:100px;
		height:67px;
	}
	
	div.body {
		margin-bottom: 10px;
	}
	
	.body img {
		width: 90px;
		vertical-align: top;
		margin-left: 20px;
	}
	
	.body a {
		text-align: center;
		vertical-align: middle; 
		font-size: 30px;
		font-weight: bold;		
		color: black;
	}
	
	.body a span {
		padding: 20px;
	}
				
	div.title {
		background-color:#ccc;
		padding: 10px 20px 10px 20px;
		margin: 10px 0px 20px 0px;
		text-align: center;
	}
		
	.info a {
		color: black;
		margin-left: 130px;
	}
	
	ul {
		list-style-type: none;
		margin-top: -50px;
		margin-left: 135px;
		padding: 2px;
	}
	
	li {
		margin-top:10px;
	}
	
}