table.propertiesPanelTable  {
	width: 100%;
	background-color: white;
	border-left: 1px solid gray;
	border-top: 1px solid gray;
	border-right: 1px solid gray;
	border-spacing: 0px;
	margin-top: 2px;	
	font-size: 11px;
}

.propertiesPanelTable tr {
	text-align:left;
}

.propertiesPanelTable td {
	text-align: left;
	padding-left: 5px;
	border-bottom: 1px solid gray;	
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 50%;
	max-width: 50px;
}

.propertiesPanelTable input {
	width: 100%;
	margin-top: -2px;
	margin-bottom: -2px;
	font-size: 11px;
	text-indent: 3px;
}

.propertiesPanelTable input[type=radio] {
	width: auto;
	margin-top: 1px;
	padding-left: 5px;
}

.propertiesPanelTable input[type=checkbox] {
	width: auto;
	margin-top: -1px;
	margin-left: 0px;
}

.propertiesPanelTable input[type=file] {
	width: 100%;
	margin-top: -2px;
	margin-bottom: -2px;
	font-size: 11px;
}

.propertiesPanelTable input[type=submit] {
	width: 100%;
	margin-top: -2px;
	margin-bottom: -2px;
	font-size: 11px;
}

.propertiesPanelTable select {
	width: 100%;
	margin-top: -2px;
	margin-bottom: -2px;
	font-size: 11px;
}

.propertiesPanelTable b {
	padding-left: 5px;
}

.dialogueTable td {
	max-width: none;
	width: auto;
}

.dialogueTable input {
	max-width: 100px;
}

.dialogueTable input[type=file] {
	max-width: none;
	margin-left: -3px;
	margin-bottom: -13px;
}

.dialogueTable input[type=submit] {
	max-width: none;
	margin-top: 3px;
	margin-bottom: 3px;
	margin-left: -1px;
}

.nopadding td {
	padding: 0;
}