@font-face {		
  font-family: 'Open Sans';		
  font-style: normal;		
  font-weight: 400;		
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3VtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');		
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');		
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;		
}

table.propertiesPanelTable  {
	width: 100%;
	background-color: white;
	border: 1px solid black;
	border-radius: 3px;
	border-spacing: 0px;
	margin-top: 2px;	
	font-size: 11px;
	text-align: left;
}

.propertiesPanelTable tr {
	text-align:left;
}

.propertiesPanelTable td {
	text-align: left;
	vertical-align: top;
	border-bottom: 1px solid gray;	
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.propertiesPanelTable td.propertyHeader {
	padding-left: 5px;
	padding-right: 18px;
}

.propertiesPanelTable td:first-child:not(.propertyHeader) {
	padding-left: 5px;
	padding-right: 18px;
}

.propertiesPanelTable td:nth-child(2) {
	width: 100%;
	padding-left: 0;
	max-width: 50px;
}

.propertiesPanelTable h3 {
	display: inline;
	margin-right: 18px;
}

.propertiesPanelTable input {
	width: 100%;
	padding: 2px 0;
	margin-top: -2px;
	margin-bottom: -2px;
	font-size: 12px;
	text-indent: 3px;
	border-radius: 0 !important;
	box-shadow: none !important;
	border: 1px solid #888;
	background-color: white;
}


.propertiesPanelTable input[type=radio] {
	width: auto;
	margin-top: 1px;
	padding-left: 5px;
}

.propertiesPanelTable input[type=checkbox] {
	width: auto;
	margin-top: 0;
  	margin-left: 2px;
  	vertical-align: top;
}

.propertiesPanelTable input[type=file] {
	width: 100%;
	margin-top: -2px;
	margin-bottom: -2px;
	font-size: 11px;
}

.propertiesPanelTable input[type=submit] {
	width: 100%;
	margin-top: -2px;
	margin-bottom: -2px;
	font-size: 11px;
}

.propertiesPanelTable select {
	width: 100%;
	margin-top: -2px;
	margin-bottom: -2px;
	margin-right: -1px;
  	margin-left: 1px;
	font-size: 11px;
	border-radius: 0;
	border: 1px solid #888;
	background: white;
	color: #000000;
	padding: 0;
}

.propertiesPanelTable b {
	padding-left: 5px;
}

.propertiesPanelTable td.propertyAdd {
	padding: 0;
}

.propertyAdd select {
	margin-left: 0;
	margin-right: 0;
}

img.controlHelp {
	float: right;
	margin-right: -18px;
}

img.validationHelp {
	float: right;
	margin-right: -18px;
}

img.actionHelp {
	float: right;
	margin-top: 1px;
	margin-right: -18px;
}

img.propertyHelp {
	float: right;
	margin-right: -18px;
	margin-bottom: -1px;	
}

div.propertyDialogue {
	position: absolute;
	right: 10px;
	display: none;
	z-index:10012;
	border:1px solid black;
	background-color:white;
	padding: 10px;
	-webkit-touch-callout: none;
  	-webkit-user-select: none;
  	-khtml-user-select: none;
  	-moz-user-select: -moz-none;
  	-ms-user-select: none;
  	user-select: none;
}

.propertyDialogue div.resizeX {
	position:absolute;
	top:0;
	left:0;
	width: 5px;
	height: 100%;
	background-color: red;
	opacity: 0;
	cursor:ew-resize;
}

.propertyDialogue span {
	vertical-align:middle;
	min-height: 20px;
}

.propertyDialogue span.fa {
	font-size: 20px;
	min-width: 25px;
}

.dialogueTable {
	width:100%;
	border-collapse: collapse;
	margin-left: 1px;
	font-size: 11px;
}

.dialogueTable tr:not(:first-child):not(:last-child) td:not(:last-child) {
	border: 1px solid silver;
}

.dialogueTable td {
	max-width: 50px;
	height:18px;
	padding-left:5px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	vertical-align:top;
}

.dialogueTable input:not([type]) {
	width: 100%;
	font-size: 11px;
	margin-top: -3px;
	margin-bottom: -4px;
	border: none;
	outline: 0;
}

.dialogueTable input[type=checkbox] {	
	margin-top: 2px;
	margin-left: -2px;
}

.dialogueTable input[type=file] {
	margin-top: 3px;
	margin-left: -1px;
}

.dialogueTable input[type=submit] {
	margin-top: 3px;
	margin-left: -1px;
}

.dialogueTable select {
  width: 100%;
  height: 18px; 
  font-size: 11px;
  border-radius: 0;
  border: 1px solid #888;
  background: white;
  color: black;
  outline: 0;
  margin-left: -4px;
}

.dialogueTable tr:not(:first-child):not(:last-child) td:not(:last-child) select {
  border: 0;
}

.dialogueTable img {
	margin-top:1px
}

.dialogueTable b {
	vertical-align: middle;
}

.dialogueTableBorders tr:not(:first-child) td {
	border: 1px solid grey;
}

.dialogueTableBorders select {
	border: 0;
}

.dialogueTableAllBorders td {
	border: 1px solid silver;
}

.dialogueTableAllBorders select {
	border: 0;
}

.inputTableWithTitles tr:nth-child(1) td {
	text-align:center;
	padding-bottom: 3px;
}

.inputTableWithTitles tr:nth-child(2) td {
	padding-top:1px;
}

td.center {
	text-align:center;
}

td.inputBorderRight {
	padding-right: 5px;
}

td.paddingLeft5 {
	padding-left: 5px;	
}

.normalInputs input {
	width: auto;	
}

.normalInputs input:not([type]) {
	width: 100%;
	box-sizing: border-box;
	border: 1px solid silver;
	padding: 3px;
}

.nopadding td {
	padding: 0;
}

.titleButton {
	padding-top: 0;
  	padding-right: 5px;
  	padding-left: 4px;
  	margin-left:5px;
	margin-right:1px;
	margin-bottom:1px;
	width: 18px;	
	border: 1px solid black;
	border-radius: 5px;
	float: right;
}

.titleButton span {
	font-family: "FontAwesome";
	font-size: 10px;
}

#restrictionsDialogue .dialogueTable tr td:not(:last-child) {
	border: 1px solid silver;
}

#restrictionsDialogue select {
	padding-top: 0;
	margin-top: 1px;
	margin-left: -2px;
	border-width: 0;
}

#restrictionsDialogue select:hover {
	border-width: 0;
}

#restrictionsDialogue input {
	padding-top: 2px;
	border-width: 0;
	border-radius: 0;
	height: 18px;
	margin-top: -1px;
	margin-left: -2px;
	box-shadow: none;

}

.webserviceTable input {
	border-radius: 0;
	border: none !important;
	box-shadow: none !important;
}

.webserviceTable select {
	height: 20px;
	margin-top:-1px;
}

span.webserviceTitle {
	display: block;
	margin-top: 4px;
}